<section class="vl-about-mission-bg sp2"> <div class="container"> <div class="row"> <div class="col-lg-10 mx-auto"> <div class="row align-items-center">
        <!-- Image de mission -->
        <div class="col-lg-6">
          <div class="mision-thumb mb-30" data-aos="fade-right" data-aos-duration="1000">
            <img class="w-100" src="assets/img/about/vl-about-mission-thumb.png" alt="Mission InfoTECH">
          </div>
        </div>
  
        <!-- Contenu texte -->
        <div class="col-lg-6">
          <div class="mission-content ml-20 mb-30" data-aos="fade-left" data-aos-duration="1000">
            <h2 class="title pb-20">Notre mission</h2>
            <p class="para pb-16">
              Chez <strong>InfoTECH</strong>, nous œuvrons pour démocratiser l’accès au numérique, en donnant à chacun les outils nécessaires pour comprendre, apprendre et innover dans un monde connecté.
            </p>
            <p class="para">
              À travers des programmes éducatifs, des initiatives technologiques durables et une communauté engagée, nous favorisons l’autonomie digitale et l’inclusion technologique pour tous.
            </p>
  
            <!-- Liste avec icônes -->
            <div class="icon-list-box pt-20">
              <ul>
                <li><span><i class="fa-solid fa-laptop-code"></i></span> Formation aux compétences numériques</li>
                <li><span><i class="fa-solid fa-network-wired"></i></span> Accès équitable aux technologies modernes</li>
                <li><span><i class="fa-solid fa-lock"></i></span> Sensibilisation à la sécurité et à la protection des données</li>
                <li><span><i class="fa-solid fa-people-group"></i></span> Création d’une communauté tech inclusive</li>
              </ul>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
</div> </section>  