.blog-card {
    background: #fff;
    transition: all 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .blog-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08);
  }
  
  .blog-thumb img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .blog-card:hover .blog-thumb img {
    transform: scale(1.05);
  }
  
  .blog-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .two-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* max 2 lignes */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 42px;
  }
  
  .blog-content .title a:hover {
    color: #007bff;
  }
  
  .btn-outline-primary {
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  

  .one-line {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* limite à 1 ligne */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
