<section class="vl-counter5 counter-iner sp2">
  <div class="container">
    <div class="row align-items-center">
      <!-- Texte à gauche -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="vl-counter-content">
          <div class="vl-section-title-1">
            <h5 class="subtitle">Statistiques de l'entreprise</h5>
            <h2 class="title">Notre impact dans le numérique <br> et l’innovation</h2>
            <p class="para pb-32">
              Nos réalisations se mesurent en chiffres : chaque donnée reflète des projets technologiques,
              des innovations et des solutions numériques qui transforment les compétences et la vie des utilisateurs.
            </p>

            <div class="btn-area">
              <a href="/contact" class="header-btn1">
                Contactez nous
                <span><i class="fa-solid fa-arrow-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Chiffres à droite -->
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-md-6">
            <div class="single-counter-box counter-box-2">
              <h3 class="title">
                <span class="counter" appCounter [countTo]="12">12</span>+
              </h3>
              <span class="pt-20">Années d’expérience Tech</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-counter-box counter-box-2 active">
              <h3 class="title">
                <span class="counter" appCounter [countTo]="69">69</span>+
              </h3>
              <span class="pt-20">Projets numériques lancés</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-counter-box counter-box-2">
              <h3 class="title">
                <span class="counter" appCounter [countTo]="3">3</span>k+
              </h3>
              <span class="pt-20">Utilisateurs actifs</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="single-counter-box counter-box-2">
              <h3 class="title">
                <span class="counter" appCounter [countTo]="93">93</span>+
              </h3>
              <span class="pt-20">Solutions digitales complètes</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
