<section id="work" class="vl-work5 sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="vl-work-content mb-30">
          <div class="vl-section-title5">
            <h5
              class="subtitle"
              data-aos="zoom-in-up"
              data-aos-duration="1200"
              data-aos-delay="300"
            >
              Comment ça Marche
            </h5>
            <h2 class="title text-anime-style-3">
              Notre approche pour l’engagement citoyen et l’empowerment
              numérique
            </h2>
            <p
              class="para"
              data-aos="zoom-in-up"
              data-aos-duration="1200"
              data-aos-delay="300"
            >
              Le projet <strong>InfoTECH</strong> accompagne les jeunes dans le
              développement de compétences numériques et la participation
              citoyenne, en combinant médias, technologies et outils interactifs
              pour renforcer l’engagement social, éducatif et civique.
            </p>
          </div>
          <div class="vl-work-thumb reveal" appGsapReveal>
            <img class="w-100" [src]="background" alt="Empowerment numérique" />
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="work-box ml-50">
          <div class="row">
            <div
              class="col-lg-12"
              data-aos="zoom-in-up"
              data-aos-duration="1200"
              data-aos-delay="300"
            >
              <!-- single box start -->
              <div class="vl-single-work-box">
                <div class="work-box-flx">
                  <div class="num"><span>01</span></div>
                  <div class="content">
                    <h5 class="title">Connecter les jeunes aux technologies</h5>
                    <p class="para">
                      Nous offrons un accès à des outils numériques, des
                      ressources éducatives et des plateformes interactives pour
                      aider les jeunes à développer leurs compétences tech.
                    </p>
                  </div>
                </div>
              </div>
              <!-- single box end -->
            </div>

            <div
              class="col-lg-12"
              data-aos="zoom-in-up"
              data-aos-duration="1100"
              data-aos-delay="300"
            >
              <!-- single box start -->
              <div class="vl-single-work-box active">
                <div class="work-box-flx">
                  <div class="num"><span>02</span></div>
                  <div class="content">
                    <h5 class="title">Promouvoir la culture numérique</h5>
                    <p class="para">
                      Nos programmes mettent l’accent sur la pensée critique, la
                      sécurité en ligne et le comportement responsable sur
                      Internet pour former des citoyens informés et
                      responsables.
                    </p>
                  </div>
                </div>
              </div>
              <!-- single box end -->
            </div>

            <div
              class="col-lg-12"
              data-aos="zoom-in-up"
              data-aos-duration="1000"
              data-aos-delay="300"
            >
              <!-- single box start -->
              <div class="vl-single-work-box">
                <div class="work-box-flx">
                  <div class="num"><span>03</span></div>
                  <div class="content">
                    <h5 class="title">Encourager la participation citoyenne</h5>
                    <p class="para">
                      Nous créons des espaces d’échange, des campagnes de
                      sensibilisation et des activités collaboratives pour que
                      les jeunes puissent s’engager activement dans la société
                      digitale.
                    </p>
                  </div>
                </div>
              </div>
              <!-- single box end -->
            </div>

            <div
              class="col-lg-12"
              data-aos="zoom-in-up"
              data-aos-duration="900"
              data-aos-delay="300"
            >
              <!-- single box start -->
              <div class="vl-single-work-box">
                <div class="work-box-flx">
                  <div class="num"><span>04</span></div>
                  <div class="content">
                    <h5 class="title">
                      Renforcer l’impact social grâce au numérique
                    </h5>
                    <p class="para">
                      Nous accompagnons les initiatives locales et les projets
                      innovants pour maximiser l’impact positif des technologies
                      sur l’éducation, la citoyenneté et la culture numérique.
                    </p>
                  </div>
                </div>
              </div>
              <!-- single box end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
