<section class="vl-about5 sp2">
  <div class="container">
    <div class="row"> <!-- Colonne gauche -->
      <div class="col-lg-6">
        <div class="vl-about-content">
          <div class="vl-section-title-1 mb-50">
            <h5 class="subtitle">À propos de nous</h5>
            <h2 class="title">Accélérer la transformation numérique pour tous</h2>
            <p>Chez InfoTECH, nous œuvrons pour démocratiser l’accès au numérique, en donnant à chacun les outils nécessaires pour comprendre, apprendre et innover dans un monde connecté.
À travers des initiatives technologiques durables et une communauté engagée, nous favorisons l’autonomie digitale et l’inclusion technologique pour tous </p>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-6">
              <!-- Première image -->
              <div class="vl-sm-thumb mb-30">
                <img class="w-100" src="assets/img/about/vl-about-thum-inner-sm-1.1.png" alt="Apprentissage numérique">
              </div>
            </div>
            <div class="col-lg-12 col-md-6">
              <!-- Deuxième image -->
              <div class="vl-sm-thumb2 mb-30">
                <img class="w-100" src="assets/img/about/vl-about-thum-inner-sm-1.2.png" alt="Innovation technologique">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Colonne droite -->
      <div class="col-lg-6">
        <div class="vl-about-content2 ml-20">
          <!-- Grande image -->
          <div class="large-thumb mb-30">
            <img class="w-100" src="assets/img/about/vl-about-thum-inner-large-1.3.png" alt="Transformation digitale">
          </div>

          <!-- Texte et liste à icônes -->
          <div class="content mb-30">
            <p class="para">
               Grâce à des contenus riches, nous accompagnons jeunes, professionnels et institutions dans la découverte des outils numériques et de la cybersécurité.
            </p>

            <div class="icon-list-box box2">
              <ul>
                <li><span><i class="fa-solid fa-graduation-cap"></i></span> Formations numériques interactives</li>
                <li><span><i class="fa-solid fa-shield-halved"></i></span> Sensibilisation à la cybersécurité</li>
                <li><span><i class="fa-solid fa-lightbulb"></i></span> Promotion de l’innovation locale</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>