
<!-- @if(isLoading){
<div class="preloader">
    <div class="loading-container">
        <div class="loading"></div>
        <div id="loading-icon"><img src="assets/img/preloader/vl-preloader-1.5.png" alt=""></div>
    </div>
</div>
} -->
<!-- <router-outlet /> -->

<!-- <router-outlet></router-outlet> -->
 <!-- app.component.html -->
 <app-navbar
 headerArea="header5 homepage1"
 btnParent="btn5"
 [icon]="'fa-solid fa-arrow-right'"
 [btnClass]="'btn-priamry1'"
 [buttonClass]="'header-btn5'"
 headerElement="header-elements-1 custom-header-elements"
 menuClass="main-menu-5"
/>

<!-- <app-navbar
headerArea="header5 homepage1"
btnParent="btn5"
[icon]="'fa-solid fa-arrow-right'"
[btnClass]="'btn-priamry1'"
[buttonClass]="'header-btn5'"
headerElement="header-elements-1"
menuClass="main-menu-5"
/> -->

<router-outlet></router-outlet>

<app-footer5>
    
</app-footer5>

