<section class="vl-blog5 sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="vl-section-title5 text-center">
          <h5
            class="subtitle"
            data-aos="fade-up"
            data-aos-duration="800"
            data-aos-delay="300"
          >
            Notre Blog & Actualités
          </h5>
          <h2 class="title text-anime-style-3">
            InfoTECH : Médias, Tech et Citoyenneté Active
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <!-- single blog box -->
        <div
          class="single-blog-box active mb-30"
          data-aos="zoom-in-up"
          data-aos-duration="1200"
          data-aos-delay="300"
        >
          <div class="blog-thumb reveal" appGsapReveal>
            <img
              class="w-100"
              src="assets/img/blog/vl-blog-5.1.png"
              alt="Blog InfoTECH"
            />
          </div>
          <div class="blog-content">
            <!-- meta -->
            <div class="meta-flex">
              <!-- date -->
              <div class="meta-icon-box">
                <div class="icon">
                  <span
                    ><img src="assets/img/icons/vl-calender-icon5.1.svg" alt=""
                  /></span>
                </div>
                <div class="text">
                  <a href="javascript:void(0);" class="title"
                    >24 Octobre 2025</a
                  >
                </div>
              </div>
              <!-- auteur -->
              <div class="meta-icon-box">
                <div class="icon">
                  <span
                    ><img src="assets/img/icons/vl-user-icon5.2.svg" alt=""
                  /></span>
                </div>
                <div class="text">
                  <a href="javascript:void(0);" class="title"
                    >Equipe InfoTECH</a
                  >
                </div>
              </div>
            </div>
            <a routerLink="/blog-single" class="title"
              >Histoires, Ressources et Actions Numériques</a
            >
            <p
              class="para"
              style="
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.5em;
                max-height: calc(1.5em);
                font-family: Arial, sans-serif;
                margin-bottom: 10px; /* espace entre texte et bouton */
              "
            >
              Découvrez notre blog, où nous partageons des histoires
              inspirantes, des mises à jour sur nos projets numériques et des
              conseils pour une citoyenneté active.
            </p>

            <a routerLink="/blog-single" class="readmore"
              >Lire la suite <span><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <!-- single blog box -->
        <div
          class="single-blog-box mb-30"
          data-aos="zoom-in-up"
          data-aos-duration="1200"
          data-aos-delay="300"
        >
          <div class="blog-thumb reveal" appGsapReveal>
            <img class="w-100" [src]="background" alt="Blog InfoTECH" />
          </div>
          <div class="blog-content">
            <!-- meta -->
            <div class="meta-flex">
              <!-- date -->
              <div class="meta-icon-box">
                <div class="icon">
                  <span
                    ><img src="assets/img/icons/vl-calender-icon5.1.svg" alt=""
                  /></span>
                </div>
                <div class="text">
                  <a href="javascript:void(0);" class="title"
                    >24 Octobre 2025</a
                  >
                </div>
              </div>
              <!-- auteur -->
              <div class="meta-icon-box">
                <div class="icon">
                  <span
                    ><img src="assets/img/icons/vl-user-icon5.2.svg" alt=""
                  /></span>
                </div>
                <div class="text">
                  <a href="javascript:void(0);" class="title"
                    >Equipe InfoTECH</a
                  >
                </div>
              </div>
            </div>
            <a routerLink="/blog-single" class="title"
              >Innovations et Initiatives Citoyennes</a
            >
            <p class="para">
              Restez informé des dernières initiatives, formations et ressources
              numériques pour encourager l’engagement civique et le
              développement technologique.
            </p>
            <a routerLink="/blog-single" class="readmore"
              >Lire la suite <span><i class="fa-solid fa-arrow-right"></i></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div style="margin-top: 5%"></div>
